<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.QuizShortLabel}}</title>
    <link href="/quiz/ui/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/quiz/ui/static/css/style.css" rel="stylesheet">
</head>
<body>
    {{template "header.html"}}
    <div class="container">
        <div class="row mb-3 justify-content-center p-3">
            <div class="col-md-8">
                <h4 class="text-center">{{.QuizShortLabel}}</h4>
                <em>Дата: {{ .Date }}</em>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form id="testForm" action="{{ .FormAction }}" method="POST">
                    <div class="mb-3 p-3 border">
                        {{template "person_blank.html" .Person}}
                        <div class="mb-5">
                            <em>Інструкція: Прочитайте уважно кожне твердження, виберіть той варіант відповіді, який найбільше відповідає тому, як Ви себе почували минулого тижня. Не роздумуйте занадто довго над кожним твердженням. Відповідь, яка першою приходить Вам в голову, завжди буде більш вірною.</em>
                        </div>
                        <fieldset id="group1" class="mb-3">
                            <legend class="col-form-label">1. Я відчуваю напруженість, мені не по собі.</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A1" value="3" required>
                                <label class="form-check-label" for="A1">Весь час</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A1" value="2">
                                <label class="form-check-label" for="A1">Часто</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A1" value="1">
                                <label class="form-check-label" for="A1">Час від часу, іноді</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A1" value="0">
                                <label class="form-check-label" for="A1">Зовсім не відчуваю.</label>
                            </div>
                        </fieldset>
                        <fieldset id="group2" class="mb-3">
                            <legend class="col-form-label">2. Те, що раніше приносило мені велике задоволення, і зараз викликає у мене таке ж почуття.</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A2" value="0" required>
                                <label class="form-check-label" for="A2">Безумовно це так.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A2" value="1">
                                <label class="form-check-label" for="A2">Напевно, це так.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A2" value="2">
                                <label class="form-check-label" for="A2">Лише в дуже малому ступені це так.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A2" value="3">
                                <label class="form-check-label" for="A2">Це зовсім не так.</label>
                            </div>
                        </fieldset>
                        <fieldset id="group3" class="mb-3">
                            <legend class="col-form-label">3. Я відчуваю страх, здається, ніби щось жахливе може ось-ось статися.</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A3" value="3" required>
                                <label class="form-check-label" for="A3">Безумовно це так, і страх дуже сильний.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A3" value="2">
                                <label class="form-check-label" for="A3">Це так, але страх не дуже сильний.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A3" value="1">
                                <label class="form-check-label" for="A3">Іноді, але це мене не турбує.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A3" value="0">
                                <label class="form-check-label" for="A3">Зовсім не відчуваю.</label>
                            </div>
                        </fieldset>
                        <fieldset id="group4" class="mb-3">
                            <legend class="col-form-label">4. Я здатний розсміятися і побачити в тій чи іншій події смішне.</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A4" value="0" required>
                                <label class="form-check-label" for="A4">Безумовно це так.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A4" value="1">
                                <label class="form-check-label" for="A4">Напевно, це так.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A4" value="2">
                                <label class="form-check-label" for="A4">Лише в дуже малому ступені це так.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A4" value="3">
                                <label class="form-check-label" for="A4">Зовсім не здатний.</label>
                            </div>
                        </fieldset>
                        <fieldset id="group5" class="mb-3">
                            <legend class="col-form-label">5. Неспокійні думки крутяться у мене в голові.</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A5" value="3" required>
                                <label class="form-check-label" for="A5">Постійно.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A5" value="2">
                                <label class="form-check-label" for="A5">Велику частину часу.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A5" value="1">
                                <label class="form-check-label" for="A5">Час від часу і не так часто.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A5" value="0">
                                <label class="form-check-label" for="A5">Тільки іноді.</label>
                            </div>
                        </fieldset>
                        <fieldset id="group6" class="mb-3">
                            <legend class="col-form-label">6. Я відчуваю бадьорість.</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A6" value="3" required>
                                <label class="form-check-label" for="A6">Зовсім не відчуваю.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A6" value="2">
                                <label class="form-check-label" for="A6">Дуже рідко.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A6" value="1">
                                <label class="form-check-label" for="A6">Іноді.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A6" value="0">
                                <label class="form-check-label" for="A6">Практично весь час.</label>
                            </div>
                        </fieldset>
                        <fieldset id="group7" class="mb-3">
                            <legend class="col-form-label">7. Я легко можу сісти і розслабитися.</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A7" value="0" required>
                                <label class="form-check-label" for="A7">Безумовно це так.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A7" value="1">
                                <label class="form-check-label" for="A7">Напевно, це так.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A7" value="2">
                                <label class="form-check-label" for="A7">Лише зрідка це так.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A7" value="3">
                                <label class="form-check-label" for="A7">Зовсім не можу.</label>
                            </div>
                        </fieldset>
                        <fieldset id="group8" class="mb-3">
                            <legend class="col-form-label">8. Мені здається, що я почав все робити дуже повільно.</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A8" value="3" required>
                                <label class="form-check-label" for="A8">Практично весь час.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A8" value="2">
                                <label class="form-check-label" for="A8">Часто.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A8" value="1">
                                <label class="form-check-label" for="A8">Іноді.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A8" value="0">
                                <label class="form-check-label" for="A8">Зовсім ні.</label>
                            </div>
                        </fieldset>
                        <fieldset id="group9" class="mb-3">
                            <legend class="col-form-label">9. Я відчуваю внутрішнє напруження або тремтіння.</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A9" value="0" required>
                                <label class="form-check-label" for="A9">Зовсім не відчуваю.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A9" value="1">
                                <label class="form-check-label" for="A9">Іноді.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A9" value="2">
                                <label class="form-check-label" for="A9">Часто.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A9" value="3">
                                <label class="form-check-label" for="A9">Дуже часто.</label>
                            </div>
                        </fieldset>
                        <fieldset id="group10" class="mb-3">
                            <legend class="col-form-label">10. Я не стежу за своєю зовнішністю.</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A10" value="3" required>
                                <label class="form-check-label" for="A10">Безумовно це так.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A10" value="2">
                                <label class="form-check-label" for="A10">Я не приділяю цьому стільки часу, скільки потрібно.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A10" value="1">
                                <label class="form-check-label" for="A10">Може бути, я став менше приділяти цьому уваги.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A10" value="0">
                                <label class="form-check-label" for="A10">Я стежу за собою так само, як і раніше.</label>
                            </div>
                        </fieldset>
                        <fieldset id="group11" class="mb-3">
                            <legend class="col-form-label">11. Я відчуваю непосидючість, немов мені постійно потрібно рухатися.</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A11" value="3" required>
                                <label class="form-check-label" for="A11">Безумовно це так.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A11" value="2">
                                <label class="form-check-label" for="A11">Напевно, це так.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A11" value="1">
                                <label class="form-check-label" for="A11">Лише в деякій мірі це так.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A11" value="0">
                                <label class="form-check-label" for="A11">Зовсім не відчуваю.</label>
                            </div>
                        </fieldset>
                        <fieldset id="group12" class="mb-3">
                            <legend class="col-form-label">12. Я вважаю, що мої справи (заняття, захоплення) можуть принести мені почуття задоволення.</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A12" value="0" required>
                                <label class="form-check-label" for="A12">Точно так само, як і зазвичай.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A12" value="1">
                                <label class="form-check-label" for="A12">Так, але не в тій мірі, як раніше.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A12" value="2">
                                <label class="form-check-label" for="A12">Значно менше, ніж зазвичай.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A12" value="3">
                                <label class="form-check-label" for="A12">Зовсім так не вважаю.</label>
                            </div>
                        </fieldset>
                        <fieldset id="group13" class="mb-3">
                            <legend class="col-form-label">13. У мене буває раптове відчуття паніки.</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A13" value="3" required>
                                <label class="form-check-label" for="A13">Дуже часто.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A13" value="2">
                                <label class="form-check-label" for="A13">Досить часто.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A13" value="1">
                                <label class="form-check-label" for="A13">Не так уже часто.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A13" value="0">
                                <label class="form-check-label" for="A13">Зовсім не буває.</label>
                            </div>
                        </fieldset>
                        <fieldset id="group14" class="mb-3">
                            <legend class="col-form-label">14. Я можу отримати задоволення від гарної книги, фільму, відео.</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A14" value="0" required>
                                <label class="form-check-label" for="A14">Часто.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A14" value="1">
                                <label class="form-check-label" for="A14">Іноді.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A14" value="2">
                                <label class="form-check-label" for="A14">Рідко.</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A14" value="3">
                                <label class="form-check-label" for="A14">Дуже рідко.</label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="submit" class="btn btn-primary btn-lg mb-5">Відправити</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {{template "footer.html"}}
</body>
</html>

