<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.QuizShortLabel}}</title>
    <link href="/quiz/ui/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/quiz/ui/static/css/style.css" rel="stylesheet">
</head>
<body>
    {{template "header.html"}}
    <div class="container">
        <div class="row mb-3 justify-content-center p-3">
            <div class="col-md-8">
                <h4 class="text-center">{{.QuizShortLabel}}</h4>
                <em>Дата: {{ .Date }}</em>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form id="testForm" action="{{ .FormAction }}" method="POST">
                    <div class="mb-3 p-3 border">
                        {{template "person_blank.html" .Person}}
                        <div class="mb-5">
                            <em>Інструкція: Уважно читаючи кожне твердження, виберіть той варіант відповіді, який найбільше відповідає Вашому стану або поглядам у даний час.</em>
                        </div>
                        <fieldset id="group1" class="mb-3">
                            <legend class="col-form-label">1. Будь-яке нагадування про цю подію (ситуацію) змушує мене знову пережити все, що трапилося</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A1" value="0" id="A1-0" required>
                                <label class="form-check-label" for="A1-0">Ніколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A1" value="1" id="A1-1">
                                <label class="form-check-label" for="A1-1">Рідко</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A1" value="2" id="A1-2">
                                <label class="form-check-label" for="A1-2">Інколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A1" value="5" id="A1-5">
                                <label class="form-check-label" for="A1-5">Часто</label>
                            </div>
                        </fieldset>
                        <fieldset id="group2" class="mb-3">
                            <legend class="col-form-label">2. Я не міг(могла) спокійно спати ночами</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A2" value="0" id="A2-0" required>
                                <label class="form-check-label" for="A2-0">Ніколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A2" value="1" id="A2-1">
                                <label class="form-check-label" for="A2-1">Рідко</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A2" value="2" id="A2-2">
                                <label class="form-check-label" for="A2-2">Інколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A2" value="5" id="A2-5">
                                <label class="form-check-label" for="A2-5">Часто</label>
                            </div>
                        </fieldset>
                        <fieldset id="group3" class="mb-3">
                            <legend class="col-form-label">3. Деякі речі змушували мене весь час думати про те, що зі мною сталося</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A3" value="0" id="A3-0" required>
                                <label class="form-check-label" for="A3-0">Ніколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A3" value="1" id="A3-1">
                                <label class="form-check-label" for="A3-1">Рідко</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A3" value="2" id="A3-2">
                                <label class="form-check-label" for="A3-2">Інколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A3" value="5" id="A3-5">
                                <label class="form-check-label" for="A3-5">Часто</label>
                            </div>
                        </fieldset>
                        <fieldset id="group4" class="mb-3">
                            <legend class="col-form-label">4. Я відчував(ла) постійне роздратування і гнів</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A4" value="0" id="A4-0" required>
                                <label class="form-check-label" for="A4-0">Ніколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A4" value="1" id="A4-1">
                                <label class="form-check-label" for="A4-1">Рідко</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A4" value="2" id="A4-2">
                                <label class="form-check-label" for="A4-2">Інколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A4" value="5" id="A4-5">
                                <label class="form-check-label" for="A4-5">Часто</label>
                            </div>
                        </fieldset>
                        <fieldset id="group5" class="mb-3">
                            <legend class="col-form-label">5. Я не дозволяв(ла) собі засмучуватися, коли думав(ла) про цю подію або щось нагадувало мені про неї</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A5" value="0" id="A5-0" required>
                                <label class="form-check-label" for="A5-0">Ніколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A5" value="1" id="A5-1">
                                <label class="form-check-label" for="A5-1">Рідко</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A5" value="2" id="A5-2">
                                <label class="form-check-label" for="A5-2">Інколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A5" value="5" id="A5-5">
                                <label class="form-check-label" for="A5-5">Часто</label>
                            </div>
                        </fieldset>
                        <fieldset id="group6" class="mb-3">
                            <legend class="col-form-label">6. Я думав(ла) про те, що трапилося, проти своєї волі</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A6" value="0" id="A6-0" required>
                                <label class="form-check-label" for="A6-0">Ніколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A6" value="1" id="A6-1">
                                <label class="form-check-label" for="A6-1">Рідко</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A6" value="2" id="A6-2">
                                <label class="form-check-label" for="A6-2">Інколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A6" value="5" id="A6-5">
                                <label class="form-check-label" for="A6-5">Часто</label>
                            </div>
                        </fieldset>
                        <fieldset id="group7" class="mb-3">
                            <legend class="col-form-label">7. Мені здавалося, що всього того, що сталося зі мною, ніби й не було насправді, або все, що тоді відбувалося, було нереальним</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A7" value="0" id="A7-0" required>
                                <label class="form-check-label" for="A7-0">Ніколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A7" value="1" id="A7-1">
                                <label class="form-check-label" for="A7-1">Рідко</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A7" value="2" id="A7-2">
                                <label class="form-check-label" for="A7-2">Інколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A7" value="5" id="A7-5">
                                <label class="form-check-label" for="A7-5">Часто</label>
                            </div>
                        </fieldset>
                        <fieldset id="group8" class="mb-3">
                            <legend class="col-form-label">8. Я намагався(лася) уникати всього, що могло б мені нагадати про те, що трапилося</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A8" value="0" id="A8-0" required>
                                <label class="form-check-label" for="A8-0">Ніколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A8" value="1" id="A8-1">
                                <label class="form-check-label" for="A8-1">Рідко</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A8" value="2" id="A8-2">
                                <label class="form-check-label" for="A8-2">Інколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A8" value="5" id="A8-5">
                                <label class="form-check-label" for="A8-5">Часто</label>
                            </div>
                        </fieldset>
                        <fieldset id="group9" class="mb-3">
                            <legend class="col-form-label">9. Окремі картини того, що сталося, раптово виникали у свідомості</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A9" value="0" id="A9-0" required>
                                <label class="form-check-label" for="A9-0">Ніколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A9" value="1" id="A9-1">
                                <label class="form-check-label" for="A9-1">Рідко</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A9" value="2" id="A9-2">
                                <label class="form-check-label" for="A9-2">Інколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A9" value="5" id="A9-5">
                                <label class="form-check-label" for="A9-5">Часто</label>
                            </div>
                        </fieldset>
                        <fieldset id="group10" class="mb-3">
                            <legend class="col-form-label">10. Я був(ла) весь час напруженим(ною) і сильно здригався(лась), якщо щось раптово лякало мене</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A10" value="0" id="A10-0" required>
                                <label class="form-check-label" for="A10-0">Ніколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A10" value="1" id="A10-1">
                                <label class="form-check-label" for="A10-1">Рідко</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A10" value="2" id="A10-2">
                                <label class="form-check-label" for="A10-2">Інколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A10" value="5" id="A10-5">
                                <label class="form-check-label" for="A10-5">Часто</label>
                            </div>
                        </fieldset>
                        <fieldset id="group11" class="mb-3">
                            <legend class="col-form-label">11. Я намагався(лася) не думати про те, що трапилося</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A11" value="0" id="A11-0" required>
                                <label class="form-check-label" for="A11-0">Ніколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A11" value="1" id="A11-1">
                                <label class="form-check-label" for="A11-1">Рідко</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A11" value="2" id="A11-2">
                                <label class="form-check-label" for="A11-2">Інколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A11" value="5" id="A11-5">
                                <label class="form-check-label" for="A11-5">Часто</label>
                            </div>
                        </fieldset>
                        <fieldset id="group12" class="mb-3">
                            <legend class="col-form-label">12. Я розумів(ла), що мене і досі буквально переповнюють важкі переживання з приводу того, що трапилося, але нічого не робив(ла), щоб їх уникнути</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A12" value="0" id="A12-0" required>
                                <label class="form-check-label" for="A12-0">Ніколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A12" value="1" id="A12-1">
                                <label class="form-check-label" for="A12-1">Рідко</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A12" value="2" id="A12-2">
                                <label class="form-check-label" for="A12-2">Інколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A12" value="5" id="A12-5">
                                <label class="form-check-label" for="A12-5">Часто</label>
                            </div>
                        </fieldset>
                        <fieldset id="group13" class="mb-3">
                            <legend class="col-form-label">13. Я відчував (ла) щось на зразок заціпеніння і всі мої переживання з приводу того, що сталося, були наче “паралізовані”</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A13" value="0" id="A13-0" required>
                                <label class="form-check-label" for="A13-0">Ніколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A13" value="1" id="A13-1">
                                <label class="form-check-label" for="A13-1">Рідко</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A13" value="2" id="A13-2">
                                <label class="form-check-label" for="A13-2">Інколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A13" value="5" id="A13-5">
                                <label class="form-check-label" for="A13-5">Часто</label>
                            </div>
                        </fieldset>
                        <fieldset id="group14" class="mb-3">
                            <legend class="col-form-label">14. Я раптом помітив(ла), що дію або почуваюся так, ніби все ще перебуваю в тій ситуації</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A14" value="0" id="A14-0" required>
                                <label class="form-check-label" for="A14-0">Ніколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A14" value="1" id="A14-1">
                                <label class="form-check-label" for="A14-1">Рідко</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A14" value="2" id="A14-2">
                                <label class="form-check-label" for="A14-2">Інколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A14" value="5" id="A14-5">
                                <label class="form-check-label" for="A14-5">Часто</label>
                            </div>
                        </fieldset>
                        <fieldset id="group15" class="mb-3">
                            <legend class="col-form-label">15. Мені було важко заснути</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A15" value="0" id="A15-0" required>
                                <label class="form-check-label" for="A15-0">Ніколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A15" value="1" id="A15-1">
                                <label class="form-check-label" for="A15-1">Рідко</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A15" value="2" id="A15-2">
                                <label class="form-check-label" for="A15-2">Інколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A15" value="5" id="A15-5">
                                <label class="form-check-label" for="A15-5">Часто</label>
                            </div>
                        </fieldset>
                        <fieldset id="group16" class="mb-3">
                            <legend class="col-form-label">16. Мене буквально переповнювали нестерпно важкі переживання, пов’язані з тією ситуацією</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A16" value="0" id="A16-0" required>
                                <label class="form-check-label" for="A16-0">Ніколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A16" value="1" id="A16-1">
                                <label class="form-check-label" for="A16-1">Рідко</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A16" value="2" id="A16-2">
                                <label class="form-check-label" for="A16-2">Інколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A16" value="5" id="A16-5">
                                <label class="form-check-label" for="A16-5">Часто</label>
                            </div>
                        </fieldset>
                        <fieldset id="group17" class="mb-3">
                            <legend class="col-form-label">17. Я намагався(лася) витіснити з пам’яті те, що трапилося</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A17" value="0" id="A17-0" required>
                                <label class="form-check-label" for="A17-0">Ніколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A17" value="1" id="A17-1">
                                <label class="form-check-label" for="A17-1">Рідко</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A17" value="2" id="A17-2">
                                <label class="form-check-label" for="A17-2">Інколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A17" value="5" id="A17-5">
                                <label class="form-check-label" for="A17-5">Часто</label>
                            </div>
                        </fieldset>
                        <fieldset id="group18" class="mb-3">
                            <legend class="col-form-label">18. Мені було важко зосередити увагу на чому- небудь</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A18" value="0" id="A18-0" required>
                                <label class="form-check-label" for="A18-0">Ніколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A18" value="1" id="A18-1">
                                <label class="form-check-label" for="A18-1">Рідко</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A18" value="2" id="A18-2">
                                <label class="form-check-label" for="A18-2">Інколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A18" value="5" id="A18-5">
                                <label class="form-check-label" for="A18-5">Часто</label>
                            </div>
                        </fieldset>
                        <fieldset id="group19" class="mb-3">
                            <legend class="col-form-label">19. Коли щось нагадувало мені про те, що трапилося, я відчував(ла) неприємні фізичні ознаки: пітнів(ла), дихання збивалося, починало нудити, частішав пульс тощо</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A19" value="0" id="A19-0" required>
                                <label class="form-check-label" for="A19-0">Ніколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A19" value="1" id="A19-1">
                                <label class="form-check-label" for="A19-1">Рідко</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A19" value="2" id="A19-2">
                                <label class="form-check-label" for="A19-2">Інколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A19" value="5" id="A19-5">
                                <label class="form-check-label" for="A19-5">Часто</label>
                            </div>
                        </fieldset>
                        <fieldset id="group20" class="mb-3">
                            <legend class="col-form-label">20. Мені снилися важкі сни про те, що зі мною сталося</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A20" value="0" id="A20-0" required>
                                <label class="form-check-label" for="A20-0">Ніколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A20" value="1" id="A20-1">
                                <label class="form-check-label" for="A20-1">Рідко</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A20" value="2" id="A20-2">
                                <label class="form-check-label" for="A20-2">Інколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A20" value="5" id="A20-5">
                                <label class="form-check-label" for="A20-5">Часто</label>
                            </div>
                        </fieldset>
                        <fieldset id="group21" class="mb-3">
                            <legend class="col-form-label">21. Я постійно остерігався(лась) і весь час чекав(ла), що трапиться щось погане</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A21" value="0" id="A21-0" required>
                                <label class="form-check-label" for="A21-0">Ніколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A21" value="1" id="A21-1">
                                <label class="form-check-label" for="A21-1">Рідко</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A21" value="2" id="A21-2">
                                <label class="form-check-label" for="A21-2">Інколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A21" value="5" id="A21-5">
                                <label class="form-check-label" for="A21-5">Часто</label>
                            </div>
                        </fieldset>
                        <fieldset id="group22" class="mb-3">
                            <legend class="col-form-label">22. Я намагався(лася) ні з ким не говорити про те, що трапилося</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A22" value="0" id="A22-0" required>
                                <label class="form-check-label" for="A22-0">Ніколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A22" value="1" id="A22-1">
                                <label class="form-check-label" for="A22-1">Рідко</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A22" value="2" id="A22-2">
                                <label class="form-check-label" for="A22-2">Інколи</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A22" value="5" id="A22-5">
                                <label class="form-check-label" for="A22-5">Часто</label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="submit" class="btn btn-primary btn-lg mb-5">Відправити</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {{template "footer.html"}}
</body>
</html>


