<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.QuizShortLabel}}</title>
    <link href="/quiz/ui/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/quiz/ui/static/css/style.css" rel="stylesheet">
</head>
<body>
    {{template "header.html"}}
    <div class="container">
        <div class="row mb-3 justify-content-center p-3">
            <div class="col-md-8">
                <h4 class="text-center">{{.QuizShortLabel}}</h4>
                <em>Дата: {{ .Date }}</em>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form id="testForm" action="{{ .FormAction }}" method="POST">
                    <div class="mb-3 p-3 border">
                        {{template "person_blank.html" .Person}}
                        <div class="mb-5">
                            <em>Інструкція: Вам буде запропоновано оцінити 29 тверджень. Уважно читаючи кожне твердження, виберіть той варіант відповіді, який найбільше відповідає Вашому стану або поглядам у даний час.</em>
                        </div>
                        <fieldset id="group1" class="mb-3">
                            <legend class="col-form-label">1. Ви все відчуваєте гостріше, ніж більшість людей.</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A1" value="1" required>
                                <label class="form-check-label" for="A1">Так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A1" value="0">
                                <label class="form-check-label" for="A1">Ні</label>
                            </div>
                        </fieldset>
                        <fieldset id="group2" class="mb-3">
                            <legend class="col-form-label">2. Вас часто долають похмурі думки.</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A2" value="1" required>
                                <label class="form-check-label" for="A2">Так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A2" value="0">
                                <label class="form-check-label" for="A2">Ні</label>
                            </div>
                        </fieldset>
                        <fieldset id="group3" class="mb-3">
                            <legend class="col-form-label">3. Тепер Ви вже не сподіваєтеся досягти бажаного положення в житті.</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A3" value="1" required>
                                <label class="form-check-label" for="A3">Так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A3" value="0">
                                <label class="form-check-label" for="A3">Ні</label>
                            </div>
                        </fieldset>
                        <fieldset id="group4" class="mb-3">
                            <legend class="col-form-label">4. У разі невдачі Вам важко почати нову справу.</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A4" value="1" required>
                                <label class="form-check-label" for="A4">Так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A4" value="0">
                                <label class="form-check-label" for="A4">Ні</label>
                            </div>
                        </fieldset>
                        <fieldset id="group5" class="mb-3">
                            <legend class="col-form-label">5. Вам безумовно не щастить у житті.</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A5" value="1" required>
                                <label class="form-check-label" for="A5">Так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A5" value="0">
                                <label class="form-check-label" for="A5">Ні</label>
                            </div>
                        </fieldset>
                        <fieldset id="group6" class="mb-3">
                            <legend class="col-form-label">6. Вчитися Вам стало важче, ніж раніше.</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A6" value="1" required>
                                <label class="form-check-label" for="A6">Так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A6" value="0">
                                <label class="form-check-label" for="A6">Ні</label>
                            </div>
                        </fieldset>
                        <fieldset id="group7" class="mb-3">
                            <legend class="col-form-label">7. Більшість людей задоволені життям більше, ніж Ви.</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A7" value="1" required>
                                <label class="form-check-label" for="A7">Так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A7" value="0">
                                <label class="form-check-label" for="A7">Ні</label>
                            </div>
                        </fieldset>
                        <fieldset id="group8" class="mb-3">
                            <legend class="col-form-label">8. Ви вважаєте, що смерть є спокутою гріхів.</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A8" value="1" required>
                                <label class="form-check-label" for="A8">Так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A8" value="0">
                                <label class="form-check-label" for="A8">Ні</label>
                            </div>
                        </fieldset>
                        <fieldset id="group9" class="mb-3">
                            <legend class="col-form-label">9. Тільки зріла людина може прийняти рішення піти з життя.</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A9" value="1" required>
                                <label class="form-check-label" for="A9">Так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A9" value="0">
                                <label class="form-check-label" for="A9">Ні</label>
                            </div>
                        </fieldset>
                        <fieldset id="group10" class="mb-3">
                            <legend class="col-form-label">10. Часом у Вас бувають напади нестримного сміху або плачу.</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A10" value="1" required>
                                <label class="form-check-label" for="A10">Так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A10" value="0">
                                <label class="form-check-label" for="A10">Ні</label>
                            </div>
                        </fieldset>
                        <fieldset id="group11" class="mb-3">
                            <legend class="col-form-label">11. Зазвичай Ви обережні з людьми, які ставляться до Вас дружелюбніше, ніж Ви очікували.</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A11" value="1" required>
                                <label class="form-check-label" for="A11">Так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A11" value="0">
                                <label class="form-check-label" for="A11">Ні</label>
                            </div>
                        </fieldset>
                        <fieldset id="group12" class="mb-3">
                            <legend class="col-form-label">12. Ви вважаєте себе приреченою людиною.</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A12" value="1" required>
                                <label class="form-check-label" for="A12">Так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A12" value="0">
                                <label class="form-check-label" for="A12">Ні</label>
                            </div>
                        </fieldset>
                        <fieldset id="group13" class="mb-3">
                            <legend class="col-form-label">13. Мало хто щиро намагається допомогти іншим, якщо це пов'язано з незручностями.</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A13" value="1" required>
                                <label class="form-check-label" for="A13">Так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A13" value="0">
                                <label class="form-check-label" for="A13">Ні</label>
                            </div>
                        </fieldset>
                        <fieldset id="group14" class="mb-3">
                            <legend class="col-form-label">14. У Вас таке враження, що Вас ніхто не розуміє.</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A14" value="1" required>
                                <label class="form-check-label" for="A14">Так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A14" value="0">
                                <label class="form-check-label" for="A14">Ні</label>
                            </div>
                        </fieldset>
                        <fieldset id="group15" class="mb-3">
                            <legend class="col-form-label">15. Людина, яка вводить інших у спокусу, залишаючи без нагляду цінне майно, винна приблизно настільки ж, наскільки і той, хто це майно викрадає.</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A15" value="1" required>
                                <label class="form-check-label" for="A15">Так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A15" value="0">
                                <label class="form-check-label" for="A15">Ні</label>
                            </div>
                        </fieldset>
                        <fieldset id="group16" class="mb-3">
                            <legend class="col-form-label">16. У Вашому житті не було таких невдач, коли здавалося, що все скінчено.</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A16" value="1" required>
                                <label class="form-check-label" for="A16">Так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A16" value="0">
                                <label class="form-check-label" for="A16">Ні</label>
                            </div>
                        </fieldset>
                        <fieldset id="group17" class="mb-3">
                            <legend class="col-form-label">17. Зазвичай Ви задоволені своєю долею.</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A17" value="1" required>
                                <label class="form-check-label" for="A17">Так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A17" value="0">
                                <label class="form-check-label" for="A17">Ні</label>
                            </div>
                        </fieldset>
                        <fieldset id="group18" class="mb-3">
                            <legend class="col-form-label">18. Ви вважаєте, що завжди потрібно вчасно поставити крапку.</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A18" value="1" required>
                                <label class="form-check-label" for="A18">Так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A18" value="0">
                                <label class="form-check-label" for="A18">Ні</label>
                            </div>
                        </fieldset>
                        <fieldset id="group19" class="mb-3">
                            <legend class="col-form-label">19. У Вашому житті є люди, прихильність до яких може дуже вплинути на Ваші рішення і навіть змінити їх.</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A19" value="1" required>
                                <label class="form-check-label" for="A19">Так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A19" value="0">
                                <label class="form-check-label" for="A19">Ні</label>
                            </div>
                        </fieldset>
                        <fieldset id="group20" class="mb-3">
                            <legend class="col-form-label">20. Коли Вас ображають, Ви прагнете будь-що довести кривдникові, що він вчинив несправедливо.</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A20" value="1" required>
                                <label class="form-check-label" for="A20">Так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A20" value="0">
                                <label class="form-check-label" for="A20">Ні</label>
                            </div>
                        </fieldset>
                        <fieldset id="group21" class="mb-3">
                            <legend class="col-form-label">21. Часто Ви так переживаєте, що це заважає Вам говорити.</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A21" value="1" required>
                                <label class="form-check-label" for="A21">Так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A21" value="0">
                                <label class="form-check-label" for="A21">Ні</label>
                            </div>
                        </fieldset>
                        <fieldset id="group22" class="mb-3">
                            <legend class="col-form-label">22. Вам часто здається, що обставини, в яких Ви опинилися, відрізняються особливою несправедливістю.</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A22" value="1" required>
                                <label class="form-check-label" for="A22">Так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A22" value="0">
                                <label class="form-check-label" for="A22">Ні</label>
                            </div>
                        </fieldset>
                        <fieldset id="group23" class="mb-3">
                            <legend class="col-form-label">23. Іноді Вам здається, що Ви раптом зробили щось погане або навіть гірше.</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A23" value="1" required>
                                <label class="form-check-label" for="A23">Так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A23" value="0">
                                <label class="form-check-label" for="A23">Ні</label>
                            </div>
                        </fieldset>
                        <fieldset id="group24" class="mb-3">
                            <legend class="col-form-label">24. Майбутнє уявляється Вам досить безпросвітним.</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A24" value="1" required>
                                <label class="form-check-label" for="A24">Так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A24" value="0">
                                <label class="form-check-label" for="A24">Ні</label>
                            </div>
                        </fieldset>
                        <fieldset id="group25" class="mb-3">
                            <legend class="col-form-label">25. Більшість людей здатні добиватися вигоди не зовсім чесним шляхом.</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A25" value="1" required>
                                <label class="form-check-label" for="A25">Так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A25" value="0">
                                <label class="form-check-label" for="A25">Ні</label>
                            </div>
                        </fieldset>
                        <fieldset id="group26" class="mb-3">
                            <legend class="col-form-label">26. Майбутнє занадто розпливчасте, щоб будувати серйозні плани.</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A26" value="1" required>
                                <label class="form-check-label" for="A26">Так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A26" value="0">
                                <label class="form-check-label" for="A26">Ні</label>
                            </div>
                        </fieldset>
                        <fieldset id="group27" class="mb-3">
                            <legend class="col-form-label">27. Мало кому в житті довелося випробувати те, що пережили недавно Ви.</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A27" value="1" required>
                                <label class="form-check-label" for="A27">Так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A27" value="0">
                                <label class="form-check-label" for="A27">Ні</label>
                            </div>
                        </fieldset>
                        <fieldset id="group28" class="mb-3">
                            <legend class="col-form-label">28. Ви схильні так гостро переживати неприємності, що не можете викинути з голови думки про це.</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A28" value="1" required>
                                <label class="form-check-label" for="A28">Так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A28" value="0">
                                <label class="form-check-label" for="A28">Ні</label>
                            </div>
                        </fieldset>
                        <fieldset id="group29" class="mb-3">
                            <legend class="col-form-label">29. Часто Ви дієте необдумано, підкоряючись першому пориву.</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A29" value="1" required>
                                <label class="form-check-label" for="A29">Так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A29" value="0">
                                <label class="form-check-label" for="A29">Ні</label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="submit" class="btn btn-primary btn-lg mb-5">Відправити</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {{template "footer.html"}}
</body>
</html>

