<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>{{.QuizShortLabel}}</title>
    <link href="/quiz/ui/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/quiz/ui/static/css/style.css" rel="stylesheet">
</head>
<body>
    {{template "header.html"}}
    <div class="container">
        <div class="row mb-3 justify-content-center p-3">
            <div class="col-md-8">
                <h4 class="text-center">{{.QuizShortLabel}}</h4>
                <em>Дата: {{ .Date }}</em>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8">
                <form id="testForm" action="{{ .FormAction }}" method="POST">
                    <div class="mb-3 p-3 border">
                        {{template "person_blank.html" .Person}}
                        <div class="mb-5">
                            <em>Прочитайте уважно кожне з приведених нижче тверджень і виберіть відповідний варіант залежно від того, як Ви себе почуваєте В ДАНИЙ МОМЕНТ. Над твердженнями довго не замислюйтесь, оскільки правильних чи неправильних варіантів відповідей немає</em>
                        </div>
                        <fieldset id="group1" class="mb-3">
                            <legend class="col-form-label">1. Я спокійний</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A1" value="1" required>
                                <label class="form-check-label" for="A1">Ні</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A1" value="2">
                                <label class="form-check-label" for="A1">Мабуть, так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A1" value="3">
                                <label class="form-check-label" for="A1">Вірно</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A1" value="4">
                                <label class="form-check-label" for="A1">Цілком вірно</label>
                            </div>
                        </fieldset>
                        <fieldset id="group2" class="mb-3">
                            <legend class="col-form-label">2. Мені ніщо не загрожує</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A2" value="1" required>
                                <label class="form-check-label" for="A2">Ні</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A2" value="2">
                                <label class="form-check-label" for="A2">Мабуть, так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A2" value="3">
                                <label class="form-check-label" for="A2">Вірно</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A2" value="4">
                                <label class="form-check-label" for="A2">Цілком вірно</label>
                            </div>
                        </fieldset>
                        <fieldset id="group3" class="mb-3">
                            <legend class="col-form-label">3. Я знаходжуся в стані напруги</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A3" value="1" required>
                                <label class="form-check-label" for="A3">Ні</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A3" value="2">
                                <label class="form-check-label" for="A3">Мабуть, так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A3" value="3">
                                <label class="form-check-label" for="A3">Вірно</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A3" value="4">
                                <label class="form-check-label" for="A3">Цілком вірно</label>
                            </div>
                        </fieldset>
                        <fieldset id="group4" class="mb-3">
                            <legend class="col-form-label">4. Я відчуваю жаль</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A4" value="1" required>
                                <label class="form-check-label" for="A4">Ні</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A4" value="2">
                                <label class="form-check-label" for="A4">Мабуть, так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A4" value="3">
                                <label class="form-check-label" for="A4">Вірно</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A4" value="4">
                                <label class="form-check-label" for="A4">Цілком вірно</label>
                            </div>
                        </fieldset>
                        <fieldset id="group5" class="mb-3">
                            <legend class="col-form-label">5. Я почуваю себе вільно</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A5" value="1" required>
                                <label class="form-check-label" for="A5">Ні</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A5" value="2">
                                <label class="form-check-label" for="A5">Мабуть, так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A5" value="3">
                                <label class="form-check-label" for="A5">Вірно</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A5" value="4">
                                <label class="form-check-label" for="A5">Цілком вірно</label>
                            </div>
                        </fieldset>
                        <fieldset id="group6" class="mb-3">
                            <legend class="col-form-label">6. Я засмучений</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A6" value="1" required>
                                <label class="form-check-label" for="A6">Ні</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A6" value="2">
                                <label class="form-check-label" for="A6">Мабуть, так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A6" value="3">
                                <label class="form-check-label" for="A6">Вірно</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A6" value="4">
                                <label class="form-check-label" for="A6">Цілком вірно</label>
                            </div>
                        </fieldset>
                        <fieldset id="group7" class="mb-3">
                            <legend class="col-form-label">7. Мене хвилюють можливі невдачі</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A7" value="1" required>
                                <label class="form-check-label" for="A7">Ні</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A7" value="2">
                                <label class="form-check-label" for="A7">Мабуть, так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A7" value="3">
                                <label class="form-check-label" for="A7">Вірно</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A7" value="4">
                                <label class="form-check-label" for="A7">Цілком вірно</label>
                            </div>
                        </fieldset>
                        <fieldset id="group8" class="mb-3">
                            <legend class="col-form-label">8. Я відчуваю себе відпочилим</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A8" value="1" required>
                                <label class="form-check-label" for="A8">Ні</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A8" value="2">
                                <label class="form-check-label" for="A8">Мабуть, так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A8" value="3">
                                <label class="form-check-label" for="A8">Вірно</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A8" value="4">
                                <label class="form-check-label" for="A8">Цілком вірно</label>
                            </div>
                        </fieldset>
                        <fieldset id="group9" class="mb-3">
                            <legend class="col-form-label">9. Я собою не вдоволений</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A9" value="1" required>
                                <label class="form-check-label" for="A9">Ні</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A9" value="2">
                                <label class="form-check-label" for="A9">Мабуть, так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A9" value="3">
                                <label class="form-check-label" for="A9">Вірно</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A9" value="4">
                                <label class="form-check-label" for="A9">Цілком вірно</label>
                            </div>
                        </fieldset>
                        <fieldset id="group10" class="mb-3">
                            <legend class="col-form-label">10. Я відчуваю внутрішнє задоволення</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A10" value="1" required>
                                <label class="form-check-label" for="A10">Ні</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A10" value="2">
                                <label class="form-check-label" for="A10">Мабуть, так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A10" value="3">
                                <label class="form-check-label" for="A10">Вірно</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A10" value="4">
                                <label class="form-check-label" for="A10">Цілком вірно</label>
                            </div>
                        </fieldset>
                        <fieldset id="group11" class="mb-3">
                            <legend class="col-form-label">11. Я впевнений у собі</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A11" value="1" required>
                                <label class="form-check-label" for="A11">Ні</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A11" value="2">
                                <label class="form-check-label" for="A11">Мабуть, так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A11" value="3">
                                <label class="form-check-label" for="A11">Вірно</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A11" value="4">
                                <label class="form-check-label" for="A11">Цілком вірно</label>
                            </div>
                        </fieldset>
                        <fieldset id="group12" class="mb-3">
                            <legend class="col-form-label">12. Я нервую</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A12" value="1" required>
                                <label class="form-check-label" for="A12">Ні</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A12" value="2">
                                <label class="form-check-label" for="A12">Мабуть, так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A12" value="3">
                                <label class="form-check-label" for="A12">Вірно</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A12" value="4">
                                <label class="form-check-label" for="A12">Цілком вірно</label>
                            </div>
                        </fieldset>
                        <fieldset id="group13" class="mb-3">
                            <legend class="col-form-label">13. Я не знаходжу собі місця</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A13" value="1" required>
                                <label class="form-check-label" for="A13">Ні</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A13" value="2">
                                <label class="form-check-label" for="A13">Мабуть, так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A13" value="3">
                                <label class="form-check-label" for="A13">Вірно</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A13" value="4">
                                <label class="form-check-label" for="A13">Цілком вірно</label>
                            </div>
                        </fieldset>
                        <fieldset id="group14" class="mb-3">
                            <legend class="col-form-label">14. Я напружений</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A14" value="1" required>
                                <label class="form-check-label" for="A14">Ні</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A14" value="2">
                                <label class="form-check-label" for="A14">Мабуть, так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A14" value="3">
                                <label class="form-check-label" for="A14">Вірно</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A14" value="4">
                                <label class="form-check-label" for="A14">Цілком вірно</label>
                            </div>
                        </fieldset>
                        <fieldset id="group15" class="mb-3">
                            <legend class="col-form-label">15. Я не почуваю скутості, напруженості</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A15" value="1" required>
                                <label class="form-check-label" for="A15">Ні</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A15" value="2">
                                <label class="form-check-label" for="A15">Мабуть, так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A15" value="3">
                                <label class="form-check-label" for="A15">Вірно</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A15" value="4">
                                <label class="form-check-label" for="A15">Цілком вірно</label>
                            </div>
                        </fieldset>
                        <fieldset id="group16" class="mb-3">
                            <legend class="col-form-label">16. Я задоволений</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A16" value="1" required>
                                <label class="form-check-label" for="A16">Ні</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A16" value="2">
                                <label class="form-check-label" for="A16">Мабуть, так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A16" value="3">
                                <label class="form-check-label" for="A16">Вірно</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A16" value="4">
                                <label class="form-check-label" for="A16">Цілком вірно</label>
                            </div>
                        </fieldset>
                        <fieldset id="group17" class="mb-3">
                            <legend class="col-form-label">17. Я занепокоєний</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A17" value="1" required>
                                <label class="form-check-label" for="A17">Ні</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A17" value="2">
                                <label class="form-check-label" for="A17">Мабуть, так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A17" value="3">
                                <label class="form-check-label" for="A17">Вірно</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A17" value="4">
                                <label class="form-check-label" for="A17">Цілком вірно</label>
                            </div>
                        </fieldset>
                        <fieldset id="group18" class="mb-3">
                            <legend class="col-form-label">18. Я занадто збуджений і мені не по собі</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A18" value="1" required>
                                <label class="form-check-label" for="A18">Ні</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A18" value="2">
                                <label class="form-check-label" for="A18">Мабуть, так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A18" value="3">
                                <label class="form-check-label" for="A18">Вірно</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A18" value="4">
                                <label class="form-check-label" for="A18">Цілком вірно</label>
                            </div>
                        </fieldset>
                        <fieldset id="group19" class="mb-3">
                            <legend class="col-form-label">19. Мені радісно</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A19" value="1" required>
                                <label class="form-check-label" for="A19">Ні</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A19" value="2">
                                <label class="form-check-label" for="A19">Мабуть, так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A19" value="3">
                                <label class="form-check-label" for="A19">Вірно</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A19" value="4">
                                <label class="form-check-label" for="A19">Цілком вірно</label>
                            </div>
                        </fieldset>
                        <fieldset id="group20" class="mb-3">
                            <legend class="col-form-label">20. Мені приємно</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A20" value="1" required>
                                <label class="form-check-label" for="A20">Ні</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A20" value="2">
                                <label class="form-check-label" for="A20">Мабуть, так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A20" value="3">
                                <label class="form-check-label" for="A20">Вірно</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A20" value="4">
                                <label class="form-check-label" for="A20">Цілком вірно</label>
                            </div>
                        </fieldset>
                        <div class="p-5">
                            <em>Виберіть відповідний варіант залежно від того, як Ви себе почуваєте ЗВИЧАЙНО.</em>
                        </div>
                        <fieldset id="group21" class="mb-3">
                            <legend class="col-form-label">21. Я відчуваю задоволення</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A21" value="1" required>
                                <label class="form-check-label" for="A21">Ні</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A21" value="2">
                                <label class="form-check-label" for="A21">Мабуть, так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A21" value="3">
                                <label class="form-check-label" for="A21">Вірно</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A21" value="4">
                                <label class="form-check-label" for="A21">Цілком вірно</label>
                            </div>
                        </fieldset>
                        <fieldset id="group22" class="mb-3">
                            <legend class="col-form-label">22. Я дуже швидко втомлююся</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A22" value="1" required>
                                <label class="form-check-label" for="A22">Ні</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A22" value="2">
                                <label class="form-check-label" for="A22">Мабуть, так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A22" value="3">
                                <label class="form-check-label" for="A22">Вірно</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A22" value="4">
                                <label class="form-check-label" for="A22">Цілком вірно</label>
                            </div>
                        </fieldset>
                        <fieldset id="group23" class="mb-3">
                            <legend class="col-form-label">23. Я легко можу заплакати</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A23" value="1" required>
                                <label class="form-check-label" for="A23">Ні</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A23" value="2">
                                <label class="form-check-label" for="A23">Мабуть, так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A23" value="3">
                                <label class="form-check-label" for="A23">Вірно</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A23" value="4">
                                <label class="form-check-label" for="A23">Цілком вірно</label>
                            </div>
                        </fieldset>
                        <fieldset id="group24" class="mb-3">
                            <legend class="col-form-label">24. Я хотів би бути таким же щасливим, як і інші</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A24" value="1" required>
                                <label class="form-check-label" for="A24">Ні</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A24" value="2">
                                <label class="form-check-label" for="A24">Мабуть, так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A24" value="3">
                                <label class="form-check-label" for="A24">Вірно</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A24" value="4">
                                <label class="form-check-label" for="A24">Цілком вірно</label>
                            </div>
                        </fieldset>
                        <fieldset id="group25" class="mb-3">
                            <legend class="col-form-label">25. Я програю від того, що недостатньо швидко приймаю рішення</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A25" value="1" required>
                                <label class="form-check-label" for="A25">Ні</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A25" value="2">
                                <label class="form-check-label" for="A25">Мабуть, так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A25" value="3">
                                <label class="form-check-label" for="A25">Вірно</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A25" value="4">
                                <label class="form-check-label" for="A25">Цілком вірно</label>
                            </div>
                        </fieldset>
                        <fieldset id="group26" class="mb-3">
                            <legend class="col-form-label">26. Звичайно я почуваю себе бадьорим</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A26" value="1" required>
                                <label class="form-check-label" for="A26">Ні</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A26" value="2">
                                <label class="form-check-label" for="A26">Мабуть, так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A26" value="3">
                                <label class="form-check-label" for="A26">Вірно</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A26" value="4">
                                <label class="form-check-label" for="A26">Цілком вірно</label>
                            </div>
                        </fieldset>
                        <fieldset id="group27" class="mb-3">
                            <legend class="col-form-label">27. Я спокійний, холоднокровний і зібраний</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A27" value="1" required>
                                <label class="form-check-label" for="A27">Ні</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A27" value="2">
                                <label class="form-check-label" for="A27">Мабуть, так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A27" value="3">
                                <label class="form-check-label" for="A27">Вірно</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A27" value="4">
                                <label class="form-check-label" for="A27">Цілком вірно</label>
                            </div>
                        </fieldset>
                        <fieldset id="group28" class="mb-3">
                            <legend class="col-form-label">28. Очікувані труднощі звичайно дуже тривожать мене</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A28" value="1" required>
                                <label class="form-check-label" for="A28">Ні</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A28" value="2">
                                <label class="form-check-label" for="A28">Мабуть, так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A28" value="3">
                                <label class="form-check-label" for="A28">Вірно</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A28" value="4">
                                <label class="form-check-label" for="A28">Цілком вірно</label>
                            </div>
                        </fieldset>
                        <fieldset id="group29" class="mb-3">
                            <legend class="col-form-label">29. Я занадто переживаю через дрібниці</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A29" value="1" required>
                                <label class="form-check-label" for="A29">Ні</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A29" value="2">
                                <label class="form-check-label" for="A29">Мабуть, так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A29" value="3">
                                <label class="form-check-label" for="A29">Вірно</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A29" value="4">
                                <label class="form-check-label" for="A29">Цілком вірно</label>
                            </div>
                        </fieldset>
                        <fieldset id="group30" class="mb-3">
                            <legend class="col-form-label">30. Я цілком щасливий</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A30" value="1" required>
                                <label class="form-check-label" for="A30">Ні</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A30" value="2">
                                <label class="form-check-label" for="A30">Мабуть, так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A30" value="3">
                                <label class="form-check-label" for="A30">Вірно</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A30" value="4">
                                <label class="form-check-label" for="A30">Цілком вірно</label>
                            </div>
                        </fieldset>
                        <fieldset id="group31" class="mb-3">
                            <legend class="col-form-label">31. Я приймаю все занадто близько до серця</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A31" value="1" required>
                                <label class="form-check-label" for="A31">Ні</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A31" value="2">
                                <label class="form-check-label" for="A31">Мабуть, так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A31" value="3">
                                <label class="form-check-label" for="A31">Вірно</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A31" value="4">
                                <label class="form-check-label" for="A31">Цілком вірно</label>
                            </div>
                        </fieldset>
                        <fieldset id="group32" class="mb-3">
                            <legend class="col-form-label">32. Мені не вистачає впевненості в собі</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A32" value="1" required>
                                <label class="form-check-label" for="A32">Ні</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A32" value="2">
                                <label class="form-check-label" for="A32">Мабуть, так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A32" value="3">
                                <label class="form-check-label" for="A32">Вірно</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A32" value="4">
                                <label class="form-check-label" for="A32">Цілком вірно</label>
                            </div>
                        </fieldset>
                        <fieldset id="group33" class="mb-3">
                            <legend class="col-form-label">33. Звичайно я почуваю себе в безпеці</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A33" value="1" required>
                                <label class="form-check-label" for="A33">Ні</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A33" value="2">
                                <label class="form-check-label" for="A33">Мабуть, так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A33" value="3">
                                <label class="form-check-label" for="A33">Вірно</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A33" value="4">
                                <label class="form-check-label" for="A33">Цілком вірно</label>
                            </div>
                        </fieldset>
                        <fieldset id="group34" class="mb-3">
                            <legend class="col-form-label">34. Я намагаюся уникати критичних ситуацій і труднощів</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A34" value="1" required>
                                <label class="form-check-label" for="A34">Ні</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A34" value="2">
                                <label class="form-check-label" for="A34">Мабуть, так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A34" value="3">
                                <label class="form-check-label" for="A34">Вірно</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A34" value="4">
                                <label class="form-check-label" for="A34">Цілком вірно</label>
                            </div>
                        </fieldset>
                        <fieldset id="group35" class="mb-3">
                            <legend class="col-form-label">35. У мене буває хандра</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A35" value="1" required>
                                <label class="form-check-label" for="A35">Ні</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A35" value="2">
                                <label class="form-check-label" for="A35">Мабуть, так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A35" value="3">
                                <label class="form-check-label" for="A35">Вірно</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A35" value="4">
                                <label class="form-check-label" for="A35">Цілком вірно</label>
                            </div>
                        </fieldset>
                        <fieldset id="group36" class="mb-3">
                            <legend class="col-form-label">36. Я задоволений</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A36" value="1" required>
                                <label class="form-check-label" for="A36">Ні</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A36" value="2">
                                <label class="form-check-label" for="A36">Мабуть, так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A36" value="3">
                                <label class="form-check-label" for="A36">Вірно</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A36" value="4">
                                <label class="form-check-label" for="A36">Цілком вірно</label>
                            </div>
                        </fieldset>
                        <fieldset id="group37" class="mb-3">
                            <legend class="col-form-label">37. Усякі дрібниці відволікають і хвилюють мене</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A37" value="1" required>
                                <label class="form-check-label" for="A37">Ні</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A37" value="2">
                                <label class="form-check-label" for="A37">Мабуть, так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A37" value="3">
                                <label class="form-check-label" for="A37">Вірно</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A37" value="4">
                                <label class="form-check-label" for="A37">Цілком вірно</label>
                            </div>
                        </fieldset>
                        <fieldset id="group38" class="mb-3">
                            <legend class="col-form-label">38. Я так сильно переживаю свої розчарування, що потім довго не можу про них забути</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A38" value="1" required>
                                <label class="form-check-label" for="A38">Ні</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A38" value="2">
                                <label class="form-check-label" for="A38">Мабуть, так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A38" value="3">
                                <label class="form-check-label" for="A38">Вірно</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A38" value="4">
                                <label class="form-check-label" for="A38">Цілком вірно</label>
                            </div>
                        </fieldset>
                        <fieldset id="group39" class="mb-3">
                            <legend class="col-form-label">39. Я врівноважена людина</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A39" value="1" required>
                                <label class="form-check-label" for="A39">Ні</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A39" value="2">
                                <label class="form-check-label" for="A39">Мабуть, так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A39" value="3">
                                <label class="form-check-label" for="A39">Вірно</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A39" value="4">
                                <label class="form-check-label" for="A39">Цілком вірно</label>
                            </div>
                        </fieldset>
                        <fieldset id="group40" class="mb-3">
                            <legend class="col-form-label">40. Мене охоплює сильне занепокоєння, коли я думаю про свої справи і турботи</legend>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A40" value="1" required>
                                <label class="form-check-label" for="A40">Ні</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A40" value="2">
                                <label class="form-check-label" for="A40">Мабуть, так</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A40" value="3">
                                <label class="form-check-label" for="A40">Вірно</label>
                            </div>
                            <div class="form-check">
                                <input class="form-check-input" type="radio" name="A40" value="4">
                                <label class="form-check-label" for="A40">Цілком вірно</label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="submit" class="btn btn-primary btn-lg mb-5">Відправити</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    <!-- <script src="/quiz/ui/static/js/bootstrap.bundle.min.js"></script> -->
    <script src="/quiz/ui/static/js/bootstrap.min.js"></script>
</body>
</html>


