<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Dashboard</title>
    <link href="/quiz/ui/static/css/bootstrap.min.css" rel="stylesheet">
    <link href="/quiz/ui/static/css/style.css" rel="stylesheet">
</head>
<body>
    {{template "header.html"}}
    <div class="container">
        <div class="row mb-3 justify-content-center p-3">
            <div class="col-md-8">
                <h3 class="text-center">Знайдені респонденти</h3>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-md-8"> 
                <form id="testForm" action="{{ .FormAction }}" method="POST">
                    <input type="hidden" name="quiz_name_to_pass" value="{{.QuizNameToPass}}">
                    <input class="form-control" type="hidden" name="person_last_name" value="{{.PersonFromRequest.LastName}}">
                    <input class="form-control" type="hidden" name="person_first_name" value="{{.PersonFromRequest.FirstName}}">
                    <input class="form-control" type="hidden" name="person_patronymic" value="{{.PersonFromRequest.Patronymic}}">

                    <div class="mb-3 p-3 border">
                        <div class="mb-3">
                            <em>Схоже раніше ви вже проходили тести в нашій системі, будь ласка, оберіть свої дані або виберіть ПРОПУСТИТИ</em>
                        </div>
                        <fieldset id="group1" class="mb-3">
                            <legend class="col-form-label"></legend>
                            <div class="mb-3">
                            {{range $key, $element := .PersonList}}
                            <div class="form-check mb-5">
                                <input class="form-check-input" type="radio" name="person_id" id="person_id_{{$element.Id}}" value="{{$element.Id}}" {{if eq $key 0}} required {{end}}>
                                <label class="form-check-label" for="person_id_{{$element.Id}}">{{$element.GetFullName}}</label>
                                <div><span class="fw-bold">Звання:</span> {{$element.MilitaryName}}</div>
                                <div><span class="fw-bold">Підрозділ:</span> {{$element.Unit}}</div>
                                <div><span class="fw-bold">Спеціальність:</span> {{$element.Specialty}}</div>
                                <div><span class="fw-bold">Дата створення:</span> {{$element.GetCreateAt}}</div>
                            </div>
                            {{end}}
                            </div>
                            <div class="form-check mb-3">
                                <input class="form-check-input" type="radio" name="person_id" id="person_id_0" value="0">
                                <label class="form-check-label" for="person_id_0">ПРОПУСТИТИ</label>
                            </div>
                        </fieldset>
                    </div>
                    <div class="d-grid gap-2 col-6 mx-auto">
                        <button type="submit" class="btn btn-primary btn-lg mb-5">Відправити</button>
                    </div>
                </form>
            </div>
        </div>
    </div>

    {{template "footer.html"}}
</body>
</html>

