<nav class="navbar navbar-expand-lg navbar-dark bg-dark mb-3">
    <div class="container-md">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="/">Список тестів</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/quiz_list">Пройдені тести</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Адмінка</a>
                </li>
            </ul>
        </div>
    </div>
</nav>
