<nav class="navbar navbar-expand-lg navbar-dark bg-dark d-print-none">
    <div class="container-md">
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item nav-mobile-link-item-important">
                    <a class="nav-link" href="/">Тести</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin">Адмінка</a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown">
                        Службове
                    </a>
                    <ul class="dropdown-menu dropdown-menu-dark">
                        <li><a class="dropdown-item" href="/admin/run-mobilehotspot">Запустити WIFI</a></li>
                        <li><hr class="dropdown-divider"></li>
                        <li><a class="dropdown-item" href="/admin/database">База даних</a></li>
                    </ul>
                </li>
            </ul>
            <span class="navbar-text">
                <em class="small">адміністратор:</em> <span class="text-white">{{GetAdminName}}</span>
            </span>
        </div>
    </div>
</nav>
