                <form id="testForm" action="#" method="POST">
                    <div class="mb-3">
                        <label class="form-check-label" for="A1">test1</label>
                        <input class="form-control" type="number" name="A1" min="0" max="1" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-check-label" for="A2">test2</label>
                        <input class="form-control" type="number" name="A2" min="0" max="1" required>
                    </div>
                    <div class="mb-3">
                        <label class="form-check-label" for="A3">test3</label>
                        <input class="form-control" type="number" name="A3" min="0" max="1" required>
                    </div>
                    <button type="submit" class="btn btn-primary">Відправити</button>
                </form>
