.wrap-logo-background {
    background: #417177;
}

.mlogo {
    height: auto;
    max-width: 100%;
}


.bi {
    display: inline-block;
    vertical-align: -.125em;
    fill: currentcolor;
}

.form-check-input {
    border-color: #8f8787;
}
